<h1>괄리자페이지에온거슬화녕하오나써니여</h1>

<p>코드러그 관리자라면 당연히 알아야 할 것이 있다.</p>
<button id="quiz" onclick="myQuestion()">문제풀기</button>

<form action="/admin/admin_login" method="post">
<p id="whoru" style="margin:10px"></p>
</form>
