<div class="preloader">
		<div class="preloder-wrap">
			<div class="preloder-inner"> 
				<div class="ball"></div> 
				<div class="ball"></div> 
				<div class="ball"></div> 
				<div class="ball"></div> 
				<div class="ball"></div> 
				<div class="ball"></div> 
				<div class="ball"></div>
			</div>
		</div>
	</div><!--/.preloader-->
	<header id="navigation"> 
		<div class="navbar navbar-inverse navbar-fixed-top" role="banner"> 
			<div class="container"> 
				<div class="navbar-header"> 
					<button type="button" class="navbar-toggle" style="border: none;" data-toggle="collapse" data-target=".navbar-collapse"> 
						<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> 
					</button> 
					<a class="navbar-brand" href="/"><h1><img src="/assets/logo.png" alt="logo"></h1></a> 
				</div> 
				<div class="collapse navbar-collapse"> 
					<ul class="nav navbar-nav navbar-right"> 
						<li class="scroll active"><a href="#navigation">홈</a></li> 
						<li class="scroll"><a href="#about-us">소개</a></li> 
						<li class="scroll"><a href="#services">서비스</a></li> 
						<li class="scroll"><a href="#our-team">인터뷰</a></li> 
						<!--<li class="scroll"><a href="#portfolio">프레스</a></li> -->
						<!--<li class="scroll"><a href="#clients">Clients</a></li> -->
						<!--<li class="scroll"><a href="#blog">Blog</a></li> -->
						<li class="scroll"><a href="#contact">만나는법</a></li>
						<li class="scroll"><a class="btn btn-default slider-btn-inHeader animated" href="https://docs.google.com/forms/d/e/1FAIpQLSf2GkYUN9nr_jmWdL4fHi9g9JXkgAO4DiLdYFXFQTk2Npe4gg/viewform" style="font-weight: bold; margin-left:5px; background-color:#006B31; color:white; width: 80px; height: 32px; padding-left: 0px; padding-right: 0px; border-color: #006B31 !important;" align="center">4기 지원</a></li>
					</ul> 
				</div> 
			</div> 
		</div><!--/navbar--> 
	</header> <!--/#navigation--> 

	<section id="home">
		<div class="home-pattern"></div>
		<div id="main-carousel" class="carousel slide" data-ride="carousel"> 
			<ol class="carousel-indicators">
				<li data-target="#main-carousel" data-slide-to="0" class="active"></li>
				<li data-target="#main-carousel" data-slide-to="1"></li>
				<li data-target="#main-carousel" data-slide-to="2"></li>
				<li data-target="#main-carousel" data-slide-to="3"></li>
			</ol><!--/.carousel-indicators--> 
			<div class="carousel-inner">
				<div class="item active" style="background-image: url(/assets/slider/slider4.jpg)"> 
				<div class="carousel-caption"> 
					<div> 
						<h2 class="heading animated bounceInDown">코드러거 4기 모집중</h2> 
						<p class="animated bounceInUp">프로그래밍이 대세라던데</p> 
						<a class="btn btn-default slider-btn animated fadeIn" href="https://docs.google.com/forms/d/e/1FAIpQLSf2GkYUN9nr_jmWdL4fHi9g9JXkgAO4DiLdYFXFQTk2Npe4gg/viewform">지원하기</a> 
					</div> 
				</div> 
			</div>
				<div class="item" style="background-image: url(/assets/slider/slider3.jpg)"> 
					<div class="carousel-caption"> 
						<div> 
							<h2 class="heading animated bounceInRight">프로그래밍이 대세라던데</h2> 
							<p class="animated bounceInLeft">왜 대세인지는 모르겠고....</p> 
							<a class="btn btn-default slider-btn animated bounceInUp" href="https://docs.google.com/forms/d/e/1FAIpQLSf2GkYUN9nr_jmWdL4fHi9g9JXkgAO4DiLdYFXFQTk2Npe4gg/viewform">지원하기</a> 
						</div> 
					</div> 
				</div>
				<div class="item" style="background-image: url(/assets/slider/slider2.png)"> 
					<div class="carousel-caption"> <div> 
						<h2 class="heading animated bounceInDown">컴퓨터 하나도 몰라요ㅠ</h2> 
						<p class="animated bounceInUp">울지마요ㅠ 다 가르쳐 드릴게요</p> 
						<a class="btn btn-default slider-btn animated fadeIn" href="https://docs.google.com/forms/d/e/1FAIpQLSf2GkYUN9nr_jmWdL4fHi9g9JXkgAO4DiLdYFXFQTk2Npe4gg/viewform">지원하기</a> 
					</div> 
				</div> 
			</div> 
			<div class="item" style="background-image: url(/assets/slider/slider1.JPG)"> 
				<div class="carousel-caption"> 
					<div> 
						<h2 class="heading animated bounceInRight">이런거 왜 해요?</h2> 
						<p class="animated bounceInLeft">일단 한번 해보시죠</p> 
						<a class="btn btn-default slider-btn animated bounceInUp" href="https://docs.google.com/forms/d/e/1FAIpQLSf2GkYUN9nr_jmWdL4fHi9g9JXkgAO4DiLdYFXFQTk2Npe4gg/viewform">지원하기</a>
					</div> 
				</div> 
			</div>
			
		</div><!--/.carousel-inner-->

		<a class="carousel-left member-carousel-control hidden-xs" href="#main-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
		<a class="carousel-right member-carousel-control hidden-xs" href="#main-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
	</div> 

</section><!--/#home-->

<section id="about-us">
	<div class="container">
		<div class="text-center">
			<div class="col-sm-8 col-sm-offset-2">
				<h2 class="title-one">코드러그?</h2>
				<p>경희대학교(회기) 비전공자 중심의 공식 프로그래밍 동아리입니다.</p>
			</div>
		</div>
		<div class="about-us">
			<div class="row">
				<div class="col-sm-6">
					<h3>뭐 하는 곳이에요?</h3>
					<ul class="nav nav-tabs">
						<li class="active"><a href="#about" data-toggle="tab"><i class="fa fa-chain-broken"></i> 했던 거</a></li>
						<li><a href="#mission" data-toggle="tab"><i class="fa fa-th-large"></i> 하는 거</a></li>
						<li><a href="#community" data-toggle="tab"><i class="fa fa-users"></i> 하고픈거</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade in active" id="about">
							<div class="media">
								<img class="pull-left media-object" src="/assets/about-us/whatwedid.jpg" alt="whatwedid"> 
								<div class="media-body">
									<p>2014년 시작된 코드러그는 웹서비스 런칭을 목표로 하여 비전공자들이 모이는 동아리입니다.<br> 모임을 통해 프로그래밍 지식을 익히고 최신 경향을 공유하며, 이를 바탕으로 외부 컨퍼런스에 참여하여 지식을 나누어 왔습니다.</p>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="mission">
							<div class="media">
								<img class="pull-left media-object" src="/assets/about-us/whatwedo.jpg" alt="whatwedo"> 
								<div class="media-body">
									<p>1년 활동을 통해 웹사이트를 만들고 런칭하는 것이 기본 활동입니다. HTML, CSS 등의 기본적인 웹문서 지식부터 차근차근 공부하여 JavaScript, Ruby, Python와 같은 프로그래밍 언어까지 같이 공부합니다.</p>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="community">
							<div class="media">
								<img class="pull-left media-object" src="/assets/about-us/whatwewill.JPG" alt="whatwewill"> 
								<div class="media-body">
									<p>프로그래밍 공부 뿐만 아니라 커뮤니티 활동을 통해 저변을 넓혀 가는 것을 지향합니다. 혼자가 아닌 여럿은 즐거울 뿐 아니라 힘을 키워줍니다.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<h3 style="margin-top:40px; margin-bottom:40px;">뭘 배운다는거죠?</h3>
					<div class="skill-bar">
						<div class="skillbar clearfix " data-percent="50%">
							<div class="skillbar-title">
								<span>HTML &amp; CSS</span>
							</div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">50%</div>
						</div> <!-- End Skill Bar -->
						<div class="skillbar clearfix" data-percent="70%">
							<div class="skillbar-title"><span>JavaScript</span></div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">70%</div>
						</div> <!-- End Skill Bar -->
						<div class="skillbar clearfix " data-percent="85%">
							<div class="skillbar-title"><span>Ruby on Rails</span></div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">85%</div>
						</div> <!-- End Skill Bar -->
						<div class="skillbar clearfix " data-percent="40%">
							<div class="skillbar-title"><span>Python</span></div>
							<div class="skillbar-bar"></div>
							<div class="skill-bar-percent">40%</div>
						</div> <!-- End Skill Bar -->
						<!--<div class="skillbar clearfix " data-percent="75%">-->
						<!--	<div class="skillbar-title"><span>Wordpress</span></div>-->
						<!--	<div class="skillbar-bar"></div>-->
						<!--	<div class="skill-bar-percent">75%</div>-->
						<!--</div> -->
						<!-- End Skill Bar --></div>
					</div>
				</div>
			</div>
		</div>
	</section><!--/#about-us-->

	<section id="services" class="parallax-section">
		<div class="container">
			<div class="row text-center">
				<div class="col-sm-8 col-sm-offset-2">
					<h2 class="title-one" style="text-shadow: 2px 2px 4px #000000;">런칭 서비스</h2>
					<p>코드러그 멤버가 만들거나 참여한 서비스</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="our-service">
						<div class="services row">
							<div class="col-sm-4">
								<div class="single-service">
									<!--<i class="fa fa-th"></i>-->
									<img src="/assets/Lunching/Lunching2.png" style="height:100%; border-radius: 50%;"/>
									<h2>직박구리</h2>
									<p style="center !important">대한민국 No.1 야동 평가 서비스</p>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="single-service">
									<!--<i class="fa fa-html5"></i>-->
									<img src="/assets/Lunching/Lunching1.png" style="height:100%; border-radius: 50%;"/>
									<h2>꿀강</h2>
									<p style="center !important">경희대 강의 평가 서비스</p>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="single-service">
									<!--<i class="fa fa-users"></i>-->
									<img src="/assets/Lunching/Lunching3.png" style="height:100%; border-radius: 50%; background-color:white;" />
									<h2>후나</h2>
									<p style="center !important">경희대-외대 미팅 서비스</p>
								</div>
							</div></div>
						</div>
					</div>
				</div>
			</div>
		</section><!--/#service-->

		<section id="our-team">
			<div class="container">
				<div class="row text-center">
					<div class="col-sm-8 col-sm-offset-2">
						<h2 class="title-one">인터뷰</h2>
						<p>동아리원들의 교과서적인 짤막 인터뷰</p>
					</div>
				</div>
				<div id="team-carousel" class="carousel slide" data-interval="false">
					<a class="member-left" href="#team-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
					<a class="member-right" href="#team-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
					<div class="carousel-inner team-members">
						<div class="row item active">
							<div class="col-sm-6 col-md-3">
								<div class="single-member">
									<img src="/assets/our-team/member1.jpg" alt="team member" />
									<h4>최준호</h4>
									<h5>경영학과</h5>
									<p>실세 현 회장님.<br> 코드러그 덕분에 제 인생의 코드를 짤 수 있게 되었어요!</p>
									<div class="socials">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
										<a href="#"><i class="fa fa-dribbble"></i></a>
										<a href="#"><i class="fa fa-linkedin"></i></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="single-member">
									<img src="/assets/our-team/member6.jpg" alt="team member" />
									<h4>김구경</h4>
									<h5>국문학과</h5>
									<p>MT의 흥을 돋우기 위해 전직 회장이 직접 춤을 추고 있다.</p>
									<div class="socials">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
										<a href="#"><i class="fa fa-dribbble"></i></a>
										<a href="#"><i class="fa fa-linkedin"></i></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="single-member">
									<img src="/assets/our-team/member11.jpg" alt="team member" />
									<h4>박재은</h4>
									<h5>컨벤션경영학과</h5>
									<p>대학 생활의 시작과 끝, 코드러그.<br>르네상스 코드러그!!<br>#전전회장#건배사창시자#오글오글</p>
									<div class="socials">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
										<a href="#"><i class="fa fa-dribbble"></i></a>
										<a href="#"><i class="fa fa-linkedin"></i></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="single-member">
									<img src="/assets/our-team/member4.jpg" alt="team member" />
									<h4>최준혁</h4>
									<h5>경영학과</h5>
									<p>너무 부담가지지 말고 못해도 가벼운 취미로 재밌게 할 수 있어요.</p>
									<div class="socials">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
										<a href="#"><i class="fa fa-dribbble"></i></a>
										<a href="#"><i class="fa fa-linkedin"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="row item">
							<div class="col-sm-6 col-md-3">
								<div class="single-member">
									<img src="/assets/our-team/member8.jpg" alt="team member" />
									<h4>오은주</h4>
									<h5>철학과</h5>
									<p>공자님께선 프로그래밍이 중요하다고 늘 강조하셨습니다.</p>
									<div class="socials">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
										<a href="#"><i class="fa fa-dribbble"></i></a>
										<a href="#"><i class="fa fa-linkedin"></i></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="single-member">
									<img src="/assets/our-team/member3.jpg" alt="team member" />
									<h4>곽규원</h4>
									<h5>관광학부</h5>
									<p>솔직히 프로그래밍이 폰게임보다 더 재미있다 ㅇㅈ?</p>
									<div class="socials">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
										<a href="#"><i class="fa fa-dribbble"></i></a>
										<a href="#"><i class="fa fa-linkedin"></i></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="single-member">
									<img src="/assets/our-team/member2.jpg" alt="team member" />
									<h4>장민설</h4>
									<h5>생물학과</h5>
									<p>평소 인내심과 끈기가 부족했는데 코딩을 통해 많은 걸 배운 것 같아요!! 어렵지 않아요!</p>
									<div class="socials">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
										<a href="#"><i class="fa fa-dribbble"></i></a>
										<a href="#"><i class="fa fa-linkedin"></i></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="single-member">
									<img src="/assets/our-team/member5.jpg" alt="team member" style="widt" />
									<h4>김태양</h4>
									<h5>경영학과</h5>
									<p>혼자 코딩공부를 했을땐 골 아파서 사진도 찍어놨는데 코드러그 만나서 다 나았어요! 고마워요 코드러그!</p>
									<div class="socials">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
										<a href="#"><i class="fa fa-dribbble"></i></a>
										<a href="#"><i class="fa fa-linkedin"></i></a>
									</div>
								</div>
							</div>
						</div>

						<div class="row item">
							<div class="col-sm-6 col-md-3">
								<div class="single-member">
									<img src="/assets/our-team/member10.jpg" alt="team member" />
									<h4>이기수</h4>
									<h5>경영학과</h5>
									<p>프로그래밍이 을마나 재미있게요?<br>#동방_거주_세입자</p>
									<div class="socials">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
										<a href="#"><i class="fa fa-dribbble"></i></a>
										<a href="#"><i class="fa fa-linkedin"></i></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="single-member">
									<img src="/assets/our-team/member9.jpg" alt="team member" />
									<h4>이우석</h4>
									<h5>경영학과</h5>
									<p>내가 다 먹을거야 건들지마! <br>#동방에_있는_카탄_소유주</p>
									<div class="socials">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
										<a href="#"><i class="fa fa-dribbble"></i></a>
										<a href="#"><i class="fa fa-linkedin"></i></a>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="single-member">
									<img src="/assets/our-team/member12.jpg" alt="team member" style="widt" />
									<h4>최아영</h4>
									<h5>언론정보학과</h5>
									<p>프로그래밍은 언론인으로서의 덕목입니다.</p>
									<div class="socials">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
										<a href="#"><i class="fa fa-dribbble"></i></a>
										<a href="#"><i class="fa fa-linkedin"></i></a>
									</div>
								</div>
							</div>
							
							<div class="col-sm-6 col-md-3">
								<div class="single-member">
									<img src="/assets/our-team/member7.jpg" alt="team member" />
									<h4>이호천</h4>
									<h5>경영학과</h5>
									<p>인생이 막막하다구요?? 저같은 놈도 코딩을 하명서 재활했답니다. <br>도전해보세요!</p>
									<div class="socials">
										<a href="#"><i class="fa fa-facebook"></i></a>
										<a href="#"><i class="fa fa-twitter"></i></a>
										<a href="#"><i class="fa fa-google-plus"></i></a>
										<a href="#"><i class="fa fa-dribbble"></i></a>
										<a href="#"><i class="fa fa-linkedin"></i></a>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</section><!--/#Our-Team-->

		<!--<section id="portfolio">-->
		<!--	<div class="container">-->
		<!--		<div class="row text-center">-->
		<!--			<div class="col-sm-8 col-sm-offset-2">-->
		<!--				<h2 class="title-one">프레스</h2>-->
		<!--				<p>언론 등 외부매체에 나타난 코드러그의 모습입니다.</p>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--		<ul class="portfolio-filter text-center">-->
		<!--			<li><a class="btn btn-default active" href="#" data-filter="*">All</a></li>-->
		<!--			<li><a class="btn btn-default" href="#" data-filter=".html">Html</a></li>-->
		<!--			<li><a class="btn btn-default" href="#" data-filter=".wordpress">Wordpress</a></li>-->
		<!--			<li><a class="btn btn-default" href="#" data-filter=".joomla">Joomla</a></li>-->
		<!--			<li><a class="btn btn-default" href="#" data-filter=".megento">Megento</a></li>-->
		<!--		</ul><!--/#portfolio-filter-->
		<!--		<div class="portfolio-items">-->
		<!--			<div class="col-sm-3 col-xs-12 portfolio-item html">-->
		<!--				<div class="view efffect">-->
		<!--					<div class="portfolio-image">-->
		<!--						<img src="/assets/portfolio/1.jpg" alt=""></div> -->
		<!--						<div class="mask text-center">-->
		<!--							<h3>Novel</h3>-->
		<!--							<h4>Lorem ipsum dolor sit amet consectetur</h4>-->
		<!--							<a href="#"><i class="fa fa-link"></i></a>-->
		<!--							<a href="/assets/portfolio/big-item.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>-->
		<!--						</div>-->
		<!--					</div>-->
		<!--				</div>-->
		<!--				<div class="col-sm-3 col-xs-12 portfolio-item jooma">-->
		<!--					<div class="view efffect" >-->
		<!--						<div class="portfolio-image">-->
		<!--							<img src="/assets/portfolio/2.jpg" alt="">-->
		<!--						</div> -->
		<!--						<div class="mask text-center">-->
		<!--							<h3>Novel</h3>-->
		<!--							<h4>Lorem ipsum dolor sit amet consectetur</h4>-->
		<!--							<a href="#"><i class="fa fa-link"></i></a>-->
		<!--							<a href="/assets/portfolio/big-item4.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>-->
		<!--						</div>-->
		<!--					</div>-->
		<!--				</div>-->
		<!--				<div class="col-sm-3 col-xs-12 portfolio-item wordpress">-->
		<!--					<div class="view efffect">-->
		<!--						<div class="portfolio-image">-->
		<!--							<img src="/assets/portfolio/3.jpg" alt="">-->
		<!--						</div> -->
		<!--						<div class="mask text-center">-->
		<!--						<h3>Novel</h3>-->
		<!--						<h4>Lorem ipsum dolor sit amet consectetur</h4>-->
		<!--						<a href="#"><i class="fa fa-link"></i></a>-->
		<!--						<a href="/assets/portfolio/big-item.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>-->
		<!--					</div>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--			<div class="col-sm-3 col-xs-12 portfolio-item megento">-->
		<!--				<div class="view efffect">-->
		<!--					<div class="portfolio-image">-->
		<!--						<img src="/assets/portfolio/4.jpg" alt="">-->
		<!--					</div> -->
		<!--					<div class="mask text-center">-->
		<!--						<h3>Novel</h3>-->
		<!--						<h4>Lorem ipsum dolor sit amet consectetur</h4>-->
		<!--						<a href="#"><i class="fa fa-link"></i></a>-->
		<!--						<a href="/assets/portfolio/big-item.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>-->
		<!--					</div>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--			<div class="col-sm-3 col-xs-12 portfolio-item html">-->
		<!--				<div class="view efffect">-->
		<!--					<div class="portfolio-image">-->
		<!--						<img src="/assets/portfolio/5.jpg" alt="">-->
		<!--					</div> <div class="mask text-center">-->
		<!--					<h3>Novel</h3>-->
		<!--					<h4>Lorem ipsum dolor sit amet consectetur</h4>-->
		<!--					<a href="#"><i class="fa fa-link"></i></a>-->
		<!--					<a href="/assets/portfolio/big-item.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--		<div class="col-sm-3 col-xs-12 portfolio-item wordpress">-->
		<!--			<div class="view efffect">-->
		<!--				<div class="portfolio-image">-->
		<!--					<img src="/assets/portfolio/6.jpg" alt="">-->
		<!--				</div> -->
		<!--				<div class="mask text-center">-->
		<!--					<h3>Novel</h3>-->
		<!--					<h4>Lorem ipsum dolor sit amet consectetur</h4>-->
		<!--					<a href="#"><i class="fa fa-link"></i></a>-->
		<!--					<a href="/assets/portfolio/big-item.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--		<div class="col-sm-3 col-xs-12 portfolio-item html">-->
		<!--			<div class="view efffect">-->
		<!--				<div class="portfolio-image">-->
		<!--					<img src="/assets/portfolio/7.jpg" alt="">-->
		<!--				</div> -->
		<!--				<div class="mask text-center">-->
		<!--					<h3>Novel</h3>-->
		<!--					<h4>Lorem ipsum dolor sit amet consectetur</h4>-->
		<!--					<a href="#"><i class="fa fa-link"></i></a>-->
		<!--					<a href="/assets/portfolio/big-item.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--		</div>-->
		<!--		<div class="col-sm-3 col-xs-12 portfolio-item joomla">-->
		<!--			<div class="view efffect">-->
		<!--				<div class="portfolio-image">-->
		<!--					<img src="/assets/portfolio/8.jpg" alt=""></div> -->
		<!--					<div class="mask text-center">-->
		<!--						<h3>Novel</h3>-->
		<!--						<h4>Lorem ipsum dolor sit amet consectetur</h4>-->
		<!--						<a href="#"><i class="fa fa-link"></i></a>-->
		<!--						<a href="/assets/portfolio/big-item.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>-->
		<!--					</div>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--			<div class="col-sm-3 col-xs-12 portfolio-item html">-->
		<!--				<div class="view efffect">-->
		<!--					<div class="portfolio-image">-->
		<!--						<img src="/assets/portfolio/9.jpg" alt="">-->
		<!--					</div> -->
		<!--					<div class="mask text-center">-->
		<!--						<h3>Novel</h3>-->
		<!--						<h4>Lorem ipsum dolor sit amet consectetur</h4>-->
		<!--						<a href="#"><i class="fa fa-link"></i></a>-->
		<!--						<a href="/assets/portfolio/big-item.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>-->
		<!--					</div>-->
		<!--				</div>-->
		<!--			</div>-->
		<!--			<div class="col-sm-3 col-xs-12 portfolio-item wordpress">-->
		<!--				<div class="view efffect">-->
		<!--					<div class="portfolio-image">-->
		<!--						<img src="/assets/portfolio/10.jpg" alt=""></div> -->
		<!--						<div class="mask text-center">-->
		<!--							<h3>Novel</h3>-->
		<!--							<h4>Lorem ipsum dolor sit amet consectetur</h4>-->
		<!--							<a href="#"><i class="fa fa-link"></i></a>-->
		<!--							<a href="/assets/portfolio/big-item.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>-->
		<!--						</div>-->
		<!--					</div>-->
		<!--				</div>-->
		<!--				<div class="col-sm-3 col-xs-12 portfolio-item joomla">-->
		<!--					<div class="view efffect">-->
		<!--						<div class="portfolio-image">-->
		<!--							<img src="/assets/portfolio/11.jpg" alt=""></div> -->
		<!--							<div class="mask text-center">-->
		<!--								<h3>Novel</h3>-->
		<!--								<h4>Lorem ipsum dolor sit amet consectetur</h4>-->
		<!--								<a href="#"><i class="fa fa-link"></i></a>-->
		<!--								<a href="/assets/portfolio/big-item3.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>-->
		<!--							</div>-->
		<!--						</div>-->
		<!--					</div>-->
		<!--					<div class="col-sm-3 col-xs-12 portfolio-item megento">-->
		<!--						<div class="view efffect">-->
		<!--							<div class="portfolio-image">-->
		<!--								<img src="/assets/portfolio/12.jpg" alt=""></div> -->
		<!--								<div class="mask text-center">-->
		<!--									<h3>Novel</h3>-->
		<!--									<h4>Lorem ipsum dolor sit amet consectetur</h4>-->
		<!--									<a href="#"><i class="fa fa-link"></i></a>-->
		<!--									<a href="/assets/portfolio/big-item4.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>-->
		<!--								</div>-->
		<!--							</div>-->
		<!--						</div>-->
		<!--					</div>-->
		<!--				</div> -->

		<!--			</section> -->
					<!--/#portfolio-->

					<!--<section id="clients" class="parallax-section">-->
					<!--	<div class="container">-->
					<!--		<div class="clients-wrapper">-->
					<!--			<div class="row text-center">-->
					<!--				<div class="col-sm-8 col-sm-offset-2">-->
					<!--					<h2 class="title-one">Clients Say About Us</h2>-->
					<!--					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>-->
					<!--				</div>-->
					<!--			</div>-->
					<!--			<div id="clients-carousel" class="carousel slide" data-ride="carousel"> <!-- Indicators -->
					<!--				<ol class="carousel-indicators">-->
					<!--					<li data-target="#clients-carousel" data-slide-to="0" class="active"></li>-->
					<!--					<li data-target="#clients-carousel" data-slide-to="1"></li>-->
					<!--					<li data-target="#clients-carousel" data-slide-to="2"></li>-->
					<!--				</ol> <!-- Wrapper for slides -->
					<!--				<div class="carousel-inner">-->
					<!--					<div class="item active">-->
					<!--						<div class="single-client">-->
					<!--							<div class="media">-->
					<!--								<img class="pull-left" src="/assets/clients/client1.jpg" alt="">-->
					<!--								<div class="media-body">-->
					<!--									<blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p><small>Someone famous in Source Title</small><a href="">www.yourwebsite.com</a></blockquote>-->
					<!--								</div>-->
					<!--							</div>-->
					<!--						</div>-->
					<!--					</div>-->
					<!--					<div class="item">-->
					<!--						<div class="single-client">-->
					<!--							<div class="media">-->
					<!--								<img class="pull-left" src="/assets/clients/client3.jpg" alt="">-->
					<!--								<div class="media-body">-->
					<!--									<blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p><small>Someone famous in Source Title</small><a href="">www.yourwebsite.com</a></blockquote>-->
					<!--								</div>-->
					<!--							</div>-->
					<!--						</div>-->
					<!--					</div>-->
					<!--					<div class="item">-->
					<!--						<div class="single-client">-->
					<!--							<div class="media">-->
					<!--								<img class="pull-left" src="/assets/clients/client2.jpg" alt="">-->
					<!--								<div class="media-body">-->
					<!--									<blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p><small>Someone famous in Source Title</small><a href="">www.yourwebsite.com</a></blockquote>-->
					<!--								</div>-->
					<!--							</div>-->
					<!--						</div>-->
					<!--					</div>-->
					<!--				</div>-->
					<!--			</div>-->
					<!--		</div>-->
					<!--	</div>-->
					<!--</section>-->
					<!--/#clients-->

					<!--<section id="blog"> -->
					<!--	<div class="container">-->
					<!--		<div class="row text-center clearfix">-->
					<!--			<div class="col-sm-8 col-sm-offset-2">-->
					<!--				<h2 class="title-one">Our Blog</h2>-->
					<!--				<p class="blog-heading">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>-->
					<!--			</div>-->
					<!--		</div> -->
					<!--		<div class="row">-->
					<!--			<div class="col-sm-4">-->
					<!--				<div class="single-blog">-->
					<!--					<img src="/assets/blog/1.jpg" alt="" />-->
					<!--					<h2>Lorem ipsum dolor sit amet</h2>-->
					<!--					<ul class="post-meta">-->
					<!--						<li><i class="fa fa-pencil-square-o"></i><strong> Posted By:</strong> John</li>-->
					<!--						<li><i class="fa fa-clock-o"></i><strong> Posted On:</strong> Apr 15 2014</li>-->
					<!--					</ul>-->
					<!--					<div class="blog-content">-->
					<!--						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>-->
					<!--					</div>-->
					<!--					<a href="" class="btn btn-primary" data-toggle="modal" data-target="#blog-detail">Read More</a>-->
					<!--				</div>-->
					<!--				<div class="modal fade" id="blog-detail" tabindex="-1" role="dialog" aria-hidden="true">-->
					<!--					<div class="modal-dialog">-->
					<!--						<div class="modal-content">-->
					<!--							<div class="modal-body">-->
					<!--								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
					<!--								<img src="/assets/blog/3.jpg" alt="" />-->
					<!--								<h2>Lorem ipsum dolor sit amet</h2>-->
					<!--								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>-->
					<!--							</div> -->
					<!--						</div>-->
					<!--					</div>-->
					<!--				</div>-->
					<!--			</div>-->
					<!--			<div class="col-sm-4">-->
					<!--				<div class="single-blog">-->
					<!--					<img src="/assets/blog/2.jpg" alt="" />-->
					<!--					<h2>Lorem ipsum dolor sit amet</h2>-->
					<!--					<ul class="post-meta">-->
					<!--						<li><i class="fa fa-pencil-square-o"></i><strong> Posted By:</strong> John</li>-->
					<!--						<li><i class="fa fa-clock-o"></i><strong> Posted On:</strong> Apr 15 2014</li>-->
					<!--					</ul>-->
					<!--					<div class="blog-content">-->
					<!--						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>-->
					<!--					</div>-->
					<!--					<a href="" class="btn btn-primary" data-toggle="modal" data-target="#blog-two">Read More</a>-->
					<!--				</div>-->
					<!--				<div class="modal fade" id="blog-two" tabindex="-1" role="dialog" aria-hidden="true">-->
					<!--					<div class="modal-dialog">-->
					<!--						<div class="modal-content">-->
					<!--							<div class="modal-body">-->
					<!--								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
					<!--								<img src="/assets/blog/2.jpg" alt="" />-->
					<!--								<h2>Lorem ipsum dolor sit amet</h2>-->
					<!--								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>-->
					<!--							</div>-->
					<!--						</div>-->
					<!--					</div>-->
					<!--				</div>-->
					<!--			</div>-->
					<!--			<div class="col-sm-4">-->
					<!--				<div class="single-blog">-->
					<!--					<img src="/assets/blog/3.jpg" alt="" />-->
					<!--					<h2>Lorem ipsum dolor sit amet</h2>-->
					<!--					<ul class="post-meta">-->
					<!--						<li><i class="fa fa-pencil-square-o"></i><strong> Posted By:</strong> John</li>-->
					<!--						<li><i class="fa fa-clock-o"></i><strong> Posted On:</strong> Apr 15 2014</li>-->
					<!--					</ul>-->
					<!--					<div class="blog-content">-->
					<!--						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>-->
					<!--					</div>-->
					<!--					<a href="" class="btn btn-primary" data-toggle="modal" data-target="#blog-three">Read More</a>-->
					<!--				</div>-->
					<!--				<div class="modal fade" id="blog-three" tabindex="-1" role="dialog" aria-hidden="true">-->
					<!--					<div class="modal-dialog">-->
					<!--						<div class="modal-content">-->
					<!--							<div class="modal-body">-->
					<!--								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
					<!--								<img src="/assets/blog/3.jpg" alt="" />-->
					<!--								<h2>Lorem ipsum dolor sit amet</h2>-->
					<!--								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>-->
					<!--							</div> -->
					<!--						</div>-->
					<!--					</div>-->
					<!--				</div>-->
					<!--			</div>-->
					<!--			<div class="col-sm-4">-->
					<!--				<div class="single-blog">-->
					<!--					<img src="/assets/blog/3.jpg" alt="" />-->
					<!--					<h2>Lorem ipsum dolor sit amet</h2>-->
					<!--					<ul class="post-meta">-->
					<!--						<li><i class="fa fa-pencil-square-o"></i><strong> Posted By:</strong> John</li>-->
					<!--						<li><i class="fa fa-clock-o"></i><strong> Posted On:</strong> Apr 15 2014</li>-->
					<!--					</ul>-->
					<!--					<div class="blog-content">-->
					<!--						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>-->
					<!--					</div>-->
					<!--					<a href="" class="btn btn-primary" data-toggle="modal" data-target="#blog-four">Read More</a></div>-->
					<!--					<div class="modal fade" id="blog-four" tabindex="-1" role="dialog" aria-hidden="true">-->
					<!--						<div class="modal-dialog">-->
					<!--							<div class="modal-content">-->
					<!--								<div class="modal-body">-->
					<!--									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
					<!--									<img src="/assets/blog/3.jpg" alt="" />-->
					<!--									<h2>Lorem ipsum dolor sit amet</h2>-->
					<!--									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>-->
					<!--								</div> -->
					<!--							</div>-->
					<!--						</div>-->
					<!--					</div>-->
					<!--				</div>-->
					<!--				<div class="col-sm-4">-->
					<!--					<div class="single-blog">-->
					<!--						<img src="/assets/blog/2.jpg" alt="" />-->
					<!--						<h2>Lorem ipsum dolor sit amet</h2>-->
					<!--						<ul class="post-meta">-->
					<!--							<li><i class="fa fa-pencil-square-o"></i><strong> Posted By:</strong> John</li>-->
					<!--							<li><i class="fa fa-clock-o"></i><strong> Posted On:</strong> Apr 15 2014</li>-->
					<!--						</ul>-->
					<!--						<div class="blog-content">-->
					<!--							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>-->
					<!--						</div>-->
					<!--						<a href="" class="btn btn-primary" data-toggle="modal" data-target="#blog-six">Read More</a>-->
					<!--					</div>-->
					<!--					<div class="modal fade" id="blog-six" tabindex="-1" role="dialog" aria-hidden="true">-->
					<!--						<div class="modal-dialog">-->
					<!--							<div class="modal-content">-->
					<!--								<div class="modal-body">-->
					<!--									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
					<!--									<img src="/assets/blog/2.jpg" alt="" />-->
					<!--									<h2>Lorem ipsum dolor sit amet</h2>-->
					<!--									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>-->
					<!--								</div> -->
					<!--							</div>-->
					<!--						</div>-->
					<!--					</div>-->
					<!--				</div>-->

					<!--				<div class="col-sm-4">-->
					<!--					<div class="single-blog">-->
					<!--						<img src="/assets/blog/1.jpg" alt="" />-->
					<!--						<h2>Lorem ipsum dolor sit amet</h2>-->
					<!--						<ul class="post-meta">-->
					<!--							<li><i class="fa fa-pencil-square-o"></i><strong> Posted By:</strong> John</li>-->
					<!--							<li><i class="fa fa-clock-o"></i><strong> Posted On:</strong> Apr 15 2014</li>-->
					<!--						</ul>-->
					<!--						<div class="blog-content">-->
					<!--							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>-->
					<!--						</div>-->
					<!--						<a href="" class="btn btn-primary" data-toggle="modal" data-target="#blog-seven">Read More</a>-->
					<!--					</div>-->
					<!--					<div class="modal fade" id="blog-seven" tabindex="-1" role="dialog" aria-hidden="true">-->
					<!--						<div class="modal-dialog">-->
					<!--							<div class="modal-content">-->
					<!--								<div class="modal-body">-->
					<!--									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
					<!--									<img src="/assets/blog/1.jpg" alt="" />-->
					<!--									<h2>Lorem ipsum dolor sit amet</h2>-->
					<!--									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>-->
					<!--								</div> -->
					<!--							</div>-->
					<!--						</div>-->
					<!--					</div>-->
					<!--				</div> -->
					<!--			</div> -->
					<!--		</div> -->
					<!--	</section> -->
					<!--/#blog-->

						<section id="contact">
							<div class="container">
								<div class="row text-center clearfix">
									<div class="col-sm-8 col-sm-offset-2">
										<div class="contact-heading">
											<h2 class="title-one">만나는 법</h2>
											<p>마주치면 수줍게 인사해 보아요.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="container">
								<div class="contact-details">
									<div class="pattern"></div>
									<div class="row text-center clearfix">
										<div class="col-sm-6">
											<div class="contact-address"><address><p><span>CODRUG</span> 코드러그</p><strong>경희대학교 학생회관<br> 7층 715호</strong><br><small>( 서울 동대문구 경희대로 23, 학생회관 715호 )</small></address>
												<div class="social-icons">
													<a href="http://www.facebook.com/codrug"><i class="fa fa-facebook"></i></a>
													<a href="#"><i class="fa fa-twitter"></i></a>
													<a href="#"><i class="fa fa-google-plus"></i></a>
												</div>
											</div>
										</div>
										<div class="col-sm-6"> 
											<div id="contact-form-section">
												
												<div id="map" style="height:100%; width:auto;"></div>
												
												
												<!--<div class="status alert alert-success" style="display: none"></div>-->
												<!--<form id="contact-form" class="contact" name="contact-form" method="post" action="send-mail.php">-->
												<!--	<div class="form-group">-->
												<!--		<input type="text" name="name" class="form-control name-field" required="required" placeholder="Your Name"></div>-->
												<!--		<div class="form-group">-->
												<!--			<input type="email" name="email" class="form-control mail-field" required="required" placeholder="Your Email">-->
												<!--		</div> -->
												<!--		<div class="form-group">-->
												<!--			<textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Message"></textarea>-->
												<!--		</div> -->
												<!--		<div class="form-group">-->
												<!--			<button type="submit" class="btn btn-primary">Send</button>-->
												<!--		</div>-->
												<!--	</form> -->
												<!--</div>-->
											</div>
										</div>
									</div>
								</div> 
							</section> <!--/#contact--> 

	<footer id="footer"> 
		<div class="container"> 
			<div class="text-center" style=> 
				<p>Copyright &copy; 2016 - <a href="http://www.codrug.me">CODRUG</a> | All Rights Reserved</p> 
			</div> 
		</div> 
	</footer> <!--/#footer--> 

	<!--활성화하니까 헤더드롭다운이 안먹힘 -->
	<!--<script type="text/javascript" src="/assets/jquery.js"></script> -->
	
	<script type="text/javascript" src="/assets/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/smoothscroll.js"></script> 
	<script type="text/javascript" src="/assets/jquery.isotope.min.js"></script>
	<script type="text/javascript" src="/assets/jquery.prettyPhoto.js"></script> 
	<script type="text/javascript" src="/assets/jquery.parallax.js"></script> 
	<script type="text/javascript" src="/assets/main.js"></script>
	
	<!--다음지도 API-->
	<script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=dd794085e5f290724313a5b59399568d"></script>
	<script>
		var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
		    mapOption = { 
		        center: new daum.maps.LatLng(37.595377, 127.055556), // 지도의 중심좌표
		        level: 4, // 지도의 확대 레벨
		        draggable: false
		    };
		
		var map = new daum.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
		
		// 마커가 표시될 위치입니다 
		var markerPosition  = new daum.maps.LatLng(37.595377, 127.055556); 
		
		// 마커를 생성합니다
		var marker = new daum.maps.Marker({
		    position: markerPosition
		});

		// 마커가 지도 위에 표시되도록 설정합니다
		marker.setMap(map);
		
		// 아래 코드는 지도 위의 마커를 제거하는 코드입니다
		// marker.setMap(null);    
	</script>