<!DOCTYPE html>
<html>
<head>
  <title>CODRUG 경희대(서울) 프로그래밍 중앙 동아리</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8"> 
  <!--구글 검색 등록-->
  <meta name="google-site-verification" content="2weku6I88gdYDAg7GzSBjyaJvj9_-Oa-G1n1JkeV-AM" />
  <!--네이버 검색 등록-->
  <meta name="naver-site-verification" content="2e475e9303d896f23f44a9cfd47104a588c5c57d"/>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<meta name="description" content="코드러그 CODRUG, 프로그래밍을 즐기는 경희인의 모임.">
	<meta name="keywords" content="코드러그, CODRUG, 코드러거, 프로그래밍,  웹, 코딩, 해커톤, 경희대학교, 경희대, 직박구리" /> 
	<meta name="author" content=""> 
	
	
	<link href="/assets/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/prettyPhoto.css" rel="stylesheet"> 
	<link href="/assets/font-awesome.min.css" rel="stylesheet"> 
	<link href="/assets/animate.css" rel="stylesheet"> 
	<link href="/assets/main.css" rel="stylesheet">
	<link href="/assets/responsive.css" rel="stylesheet"> 
	<!--[if lt IE 9]> <script src="js/html5shiv.js"></script> 
	<script src="js/respond.min.js"></script> <![endif]--> 
	<link rel="shortcut icon" href="/assets/ico/favicon.png"> 
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/favicon.png"> 
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/favicon.png"> 
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/favicon.png"> 
	<link rel="apple-touch-icon-precomposed" href="/assets/ico/favicon.png">
	

</head>
<body>
	

<%= yield %>

</body>
</html>
